<div class="container" style="margin-top: 10rem; min-height: 500px;">
    <div class="row p-4">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                </div>
                <div class="error-actions">
                    <a routerLink="" style="background-color: #CE2C25;" class="btn btn-md text-light"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a routerLink="" class="btn btn-default btn-md"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>