    <!-- model overview section -->
    <div class="veh__overview">
        <app-breadcrumb [title] = "title"></app-breadcrumb>

        <div class="overview-wrapper">
            <div class="model-banner">
                <div class="wrapper">
                    <div class="titles">
                        <div class="num">1</div>
                        <span class="banner-title">
                            overview
                        </span>
                        <h1 class="model-title">
                            mg gs
                        </h1>
    
                        <p class="des">
                            MG GS is the only British compact SUV in the middle-class market segment that is designed to be stylishly masculine.  The design is a trendy mix that combines sporty mobility with sharp, smooth body lines and swooping flowing shapes.
                        </p>
                    </div>
    
                    <a class="model-img">
                        <img src="assets/img/model1.png" alt="mg MG-Motors GS">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of model overview section -->



    <!-- variance section -->
    <app-car-variance></app-car-variance>
    <!-- end of variance section -->

    <!-- design section -->
    <app-car-design></app-car-design>
    <!-- end of design section -->

    <!-- veh specification section -->
    <app-car-speacification></app-car-speacification>
    <!-- end of veh specification section -->