<div class="veh__specifications"  style="height: none !important;">
    <div class="wrapper">
        <div class="titles">
            <div class="num">4</div>
            <span class="banner-title">
                features & specifications
            </span>
        </div>

        <div class="veh__spec-engine">
            <div class="spec-card card1">
                <div class="card-header">
                    <h3 class="title">
                        maximum power
                    </h3>
                </div>

                <div class="card-details">
                    <div class="icon">
                        <img src="assets/img/icons/icon1.png" alt="mg motors meter">
                    </div>

                    <div class="card-des">
                        <h4 class="title">
                            670 CV(492 KW)
                        </h4>
                        <p class="des">
                            at 8000 rpm
                        </p>
                    </div>
                </div>
            </div>

            <div class="spec-card card2">
                <div class="card-header">
                    <h3 class="title">
                        acceleration
                    </h3>
                </div>

                <div class="card-details">
                    <div class="icon">
                        <img src="assets/img/icons/icon2.png" alt="">
                    </div>

                    <div class="card-des">
                        <h4 class="title">
                            3.0SEC
                        </h4>

                        <p class="des">
                            0-100km/h (0-62 MPH)
                        </p>
                    </div>
                </div>
            </div>

            <div class="spec-card card3">
                <div class="card-header">
                    <h3 class="title">
                        specific output
                    </h3>
                </div>

                <div class="card-details">
                    <div class="icon">
                        <img src="assets/img/icons/icon3.png" alt="">
                    </div>

                    <div class="card-des">
                        <h4 class="title">
                            172
                        </h4>

                        <p class="des">
                            cv/l
                        </p>
                    </div>
                </div>
            </div>

            <div class="spec-card card4">
                <div class="card-img">
                    <img src="assets/img/engine.jpg" alt="MG-Motors engine">
                </div>
            </div>
        </div>

        <div class="all__specs">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header engine-card-header" id="headingOne" (click)="engineClick()">
                        <h2 class="mb-0 engine-header">
                            <button class="engine-button specificaitonButton btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                engine
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Package Description</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 7-DCT AT 2WD COM</th>
                                        <th>2.0T 6- DCT AWD LUX</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>length (mm)</td>
                                        <td></td>
                                        <td></td>
                                        <td>4500</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>width (mm)</td>
                                        <td></td>
                                        <td></td>
                                        <td>1855</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>height (mm)</td>
                                        <td></td>
                                        <td></td>
                                        <td>1699</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>wheel base (mm)</td>
                                        <td></td>
                                        <td></td>
                                        <td>2650</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>kerb weight (mm)</td>
                                        <td>1420</td>
                                        <td>1460</td>
                                        <td>1460</td>
                                        <td>1462</td>
                                    </tr>
                                    <tr>
                                        <td>Luggage capacity(L) - Rear seats up/ folded (I)</td>
                                        <td></td>
                                        <td></td>
                                        <td>483/1336</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>fuel tank capacity (l)</td>
                                        <td></td>
                                        <td></td>
                                        <td>55</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Fuel consumption combined (1/100km)</td>
                                        <td>7.3</td>
                                        <td>7.4</td>
                                        <td>7.4</td>
                                        <td>9.6</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header performance-card-header" id="headingTwo"  (click)="performanceClick()">
                        <h2 class="mb-0">
                            <button  class="specificaitonButton btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                power performance
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Package Description</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 7-DCT AT 2WD COM</th>
                                        <th>2.0T 6- DCT AWD LUX</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Engine</td>
                                        <td colspan="4">Gasoline direct injection turbo technology</td>
                                    </tr>
                                    <tr>
                                        <td>Displacement (cc)</td>
                                        <td></td>
                                        <td>1490</td>
                                        <td></td>
                                        <td>1995</td>
                                    </tr>
                                    <tr>
                                        <td>Max Power (kW)</td>
                                        <td></td>
                                        <td>119</td>
                                        <td></td>
                                        <td>162</td>
                                    </tr>
                                    <tr>
                                        <td>Max Torque (Nm/rpm)</td>
                                        <td></td>
                                        <td>250</td>
                                        <td></td>
                                        <td>350</td>
                                    </tr>
                                    <tr>
                                        <td>6-Speed manual Transmission</td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7-DCT automatic Transmission</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6-DCT automatic Transmission</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2WD</td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4WD</td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-times"></i>
                                        </td>
                                        <td>
                                            <i class="fa fa-check"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2WD</td>
                                        <td colspan="4"> Euro V</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header suspension-card-header" id="headingThree" (click)="suspensionClick()">
                        <h2 class="mb-0">
                            <button  class="specificaitonButton btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                suspension and Brake
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Package Description</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 7-DCT AT 2WD COM</th>
                                        <th>2.0T 6- DCT AWD LUX</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Front Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>MacPherson Strut</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Rear Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>Independent multi-link</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Front & Rear Brake System</td>
                                        <td></td>
                                        <td></td>
                                        <td>Ventilated disk brake</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Steering system</td>
                                        <td></td>
                                        <td></td>
                                        <td>Electronic power steering</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Wheel</td>
                                        <td colspan="2">17" Alloy Wheel</td>
                                        <td colspan="2">18" Alloy Wheel</td>
                                    </tr>
                                    <tr>
                                        <td>Tyre</td>
                                        <td colspan="2">215/60R17</td>
                                        <td colspan="2">235/50R18</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header safety-card-header" id="headingFour" (click)="safetyClick()">
                        <h2 class="mb-0">
                            <button class="specificaitonButton btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                safety and security
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Package Description</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 7-DCT AT 2WD COM</th>
                                        <th>2.0T 6- DCT AWD LUX</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Front Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>MacPherson Strut</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Rear Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>Independent multi-link</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Front & Rear Brake System</td>
                                        <td></td>
                                        <td></td>
                                        <td>Ventilated disk brake</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Steering system</td>
                                        <td></td>
                                        <td></td>
                                        <td>Electronic power steering</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Wheel</td>
                                        <td colspan="2">17" Alloy Wheel</td>
                                        <td colspan="2">18" Alloy Wheel</td>
                                    </tr>
                                    <tr>
                                        <td>Tyre</td>
                                        <td colspan="2">215/60R17</td>
                                        <td colspan="2">235/50R18</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header comfort-card-header" id="headingFive" (click)="comfortClick()">
                        <h2 class="mb-0">
                            <button  class="specificaitonButton btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                comfort and convenience
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class=" specificaitonButton table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Package Description</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 7-DCT AT 2WD COM</th>
                                        <th>2.0T 6- DCT AWD LUX</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Front Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>MacPherson Strut</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Rear Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>Independent multi-link</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Front & Rear Brake System</td>
                                        <td></td>
                                        <td></td>
                                        <td>Ventilated disk brake</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Steering system</td>
                                        <td></td>
                                        <td></td>
                                        <td>Electronic power steering</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Wheel</td>
                                        <td colspan="2">17" Alloy Wheel</td>
                                        <td colspan="2">18" Alloy Wheel</td>
                                    </tr>
                                    <tr>
                                        <td>Tyre</td>
                                        <td colspan="2">215/60R17</td>
                                        <td colspan="2">235/50R18</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header entartaintment-card-header" id="headingSix"  (click)="entertainmentClick()">
                        <h2 class="mb-0">
                            <button class="specificaitonButton btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                entertainment
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Package Description</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 7-DCT AT 2WD COM</th>
                                        <th>2.0T 6- DCT AWD LUX</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Front Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>MacPherson Strut</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Rear Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>Independent multi-link</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Front & Rear Brake System</td>
                                        <td></td>
                                        <td></td>
                                        <td>Ventilated disk brake</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Steering system</td>
                                        <td></td>
                                        <td></td>
                                        <td>Electronic power steering</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Wheel</td>
                                        <td colspan="2">17" Alloy Wheel</td>
                                        <td colspan="2">18" Alloy Wheel</td>
                                    </tr>
                                    <tr>
                                        <td>Tyre</td>
                                        <td colspan="2">215/60R17</td>
                                        <td colspan="2">235/50R18</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header extra-card-header" id="headingSeven" (click)="extracFeatureClick()">
                        <h2 class="mb-0">
                            <button  class="specificaitonButton btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                extra features
                                <i class="fa fa-chevron-down"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Package Description</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 6-MT 2WD STD</th>
                                        <th>1.5T 7-DCT AT 2WD COM</th>
                                        <th>2.0T 6- DCT AWD LUX</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Front Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>MacPherson Strut</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Rear Suspension</td>
                                        <td></td>
                                        <td></td>
                                        <td>Independent multi-link</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Front & Rear Brake System</td>
                                        <td></td>
                                        <td></td>
                                        <td>Ventilated disk brake</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Steering system</td>
                                        <td></td>
                                        <td></td>
                                        <td>Electronic power steering</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Wheel</td>
                                        <td colspan="2">17" Alloy Wheel</td>
                                        <td colspan="2">18" Alloy Wheel</td>
                                    </tr>
                                    <tr>
                                        <td>Tyre</td>
                                        <td colspan="2">215/60R17</td>
                                        <td colspan="2">235/50R18</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>