    <!-- model variant section -->
    <div class="model__variant">
        <div class="wrapper">
            
            <div class="titles">
                <div class="num">2</div>
                <span class="banner-title">
                    variant with price
                </span>
            </div>

            <div class="variants-list">
                <div class="tablist">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation"  *ngFor="let car of car_list; let i= index">
                            <a class="nav-link" [ngClass]="{'active': i === index}" (click)="onClick(i)"  id="variant-1-tab" data-toggle="tab" role="tab" aria-controls="variant-1" aria-selected="true">{{car.name}}</a>
                        </li>
                    </ul>
                </div>

                <div class="tabcontent">
                    <div class="tab-content" id="myTabContent">
                        <div *ngFor="let car of car_list; let i= index" class="tab-pane fade " [ngClass]="{'show active': i === index}" id="variant-1" role="tabpanel" aria-labelledby="variant-1-tab">
                            <div class="product-img" [ngClass]='myAnimateClass'>
                                <img src={{car.image}} alt="variant-1">
                            </div>

                            <div class="product-des">
                                <h2 class="variant-title">
                                    {{car.name}}
                                </h2>

                                <p class="des">
                                    {{car.description}}
                                </p>

                                <p class="price">
                                    <span>
                                        starting form
                                        <b>Rs. {{car.price}}</b>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of model variant section -->
