<app-admin-breadcrumb [title]="title"></app-admin-breadcrumb>
<div class="spinner-border" role="status" *ngIf="isLoading; else notLodBlock">
    <span class="sr-only">Loading...</span>
</div>
<ng-template #notLodBlock>
    <a class="btn btn-md btn-success"
        routerLink="../admin-add-service-center">
        Add company details
        <i class="pl-1 fas fa-plus"></i>
    </a>
    <br>
    <div class="card mt-3" *ngFor="let data of serviceCenterData, index as i">
        <div class="card-header">
            <a class="btn btn-md btn-outline-success m-1"
                routerLink="../admin-update-service-center/{{data.id}}">
                Update
                <i class="pl-1 fas fa-pen"></i>
            </a>
            <a class="btn btn-md btn-outline-danger m-1"
                (click)="onDelete(data.id)">Delete
                <i class="pl-1 fas fa-trash"></i>
            </a>
            <br> <br>
            <h3>{{data.service_center_name}}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><b>Address</b> : <span>{{data.address}}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p><b>Phone number</b> : <span>{{data.phone_number}}</span>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <p><b>Longitutude</b> : <span>{{data.longitude}}</span>
                    </p>
                </div>
                <div class="col-md-6">
                    <p><b>Altitude</b> : <span>{{data.altitude}}</span>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <p><b>Detail</b> : </p>
                <section innerHTML={{data.description}}>
                </section>
            </div>
        </div>
    </div>
</ng-template>
