<div class="contact-us" loading="lazy">
    <div class="contact-grid">
        <div class="map-location">
            <div class="our-location">
                <a href="" class="location-btn">
                    <span>
                        our location
                    </span>
                </a>
            </div>

            <div class="map">
                <img class="d-block w-100" src="assets/img/map.png" alt="mg
                    MG-Motors location">
            </div>
        </div>

        <div class="contact-form">
            <div class="form-title">
                <h3 class="title">
                    get in touch
                </h3>
            </div>
            <!-- start message section -->
            <app-message-section style="width: 100%;"></app-message-section>
            <!-- end message section -->
        </div>
    </div>
</div>