<div class="main__header" loading="lazy">
    <!-- top haeder -->
    <div class="main-top-header">
        <div class="wrapper">
            <ul class="top-header-menu">
                <li class="menu-list">
                    <a routerLink="">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>Find a Dealer</span>
                    </a>
                </li>
                <li class="menu-list">
                    <a routerLink="">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <span>Request a Brochure</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- bottom header (main navigation) -->
    <div class="main-bottom-header">
        <div class="wrapper">
            <nav class="main-navigation">
                <a routerLink="" class="main-logo logo1">
                    <div class="main-logo-card">
                        <img src="assets/img/mg-logo.png" alt="MG-Motors Logo">
                        <p class="logo-title">
                            <span>Passion Drives</span>
                            <span>Since 1924</span>
                        </p>
                    </div>
                </a>

                <!-- hamburger toggler button -->
                <div class="mobile__hamburger">
                    <div class="bar"></div>
                </div>
                <!-- end of hamburger toggler button -->

                <div class="navigation-menu nav1">
                    <ul class="bottom-menu">
                        <li class="menu-list">
                            <a routerLink="" class="menu-link">
                                home
                            </a>
                        </li>
                        <li class="menu-list dropdown">
                            <a class="menu-link dropbtn" id="navbarDropdown"
                                role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                about us
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <!-- dropdown menu -->
                            <ul class="dropdown-menu dropdown-content"
                                aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" routerLink="about-us">About MG</a>
                                <a class="dropdown-item" routerLink="history">MG History</a>
                            </ul>
                        </li>

                        <li class="menu-list dropdown" >
                            <a class="menu-link dropbtn" id="navbarDropdown"
                                role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                mg Models
                                <i class="fa fa-chevron-down"></i>
                            </a>

                            <!-- dropdown menu -->
                            <ul class="dropdown-menu dropdown-content"
                                aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" routerLink="modals">Models</a>
                                <a class="dropdown-item" routerLink="modal-list">Model list</a>

                            </ul>
                        </li>
                        <li class="menu-list dropdown">
                            <a class="menu-link dropbtn" id="navbarDropdown"
                                role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                mg care
                                <i class="fa fa-chevron-down"></i>
                            </a>

                            <!-- dropdown menu -->
                            <ul class="dropdown-menu dropdown-content"
                                aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" routerLink="service-center">Service Center</a>
                            </ul>
                        </li>
                        <li class="menu-list">
                            <a routerLink="contact-us" class="menu-link">
                                contact us
                            </a>
                        </li>
                        <li class="menu-list">
                            <a routerLink="faq" class="menu-link">
                                faqs
                            </a>
                        </li>
                        
                    </ul>
                </div>

                <div class="navigation-menu nav2">
                    <ul class="bottom-menu">
                        <li class="menu-list book-now">
                            <a routerLink="" class="menu-link">
                                book now
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
