<div class="address-deatils" loading="lazy">
    <div class="wrapper">
        <div class="detail-card">
            <div class="icon-title">
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <h4 class="title">
                    address
                </h4>
            </div>
            <p class="details-des">
                {{data.Address}}
            </p>
        </div>
        <div class="detail-card">
            <div class="icon-title">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div>
                <h4 class="title">
                    contact us
                </h4>
            </div>
            <p class="details-des">
            {{data.phone_number}}/{{data.alt_phone_number}}
            </p>
        </div>
        <div class="detail-card">
            <div class="icon-title">
                <div class="social-links">
                    <a href="" class="social-icon fb">
                        <i class="fab fa-facebook-f" style="color: white !important;"></i>
                        
                    </a>
                    <a href="" class="social-icon twitter">
                        <i class="fab fa-twitter"  style="color: white !important;"></i>
                    </a>
                    <a href="" class="social-icon yt">
                        <i class="fab fa-youtube" style="color: white !important;"></i>
                    </a>
                    <a href="" class="social-icon linkedin">
                        <i class="fab fa-linkedin-in" style="color: white !important;"></i>
                    </a>
                </div>
                <h4 class="title">
                    get social
                </h4>
            </div>
            <p class="details-des">
                Connect with us at social media platform
            </p>
        </div>
    </div>
</div>