 <!-- service we provide -->
 <div class="service-center-section" loading="lazy">
    <app-breadcrumb [title] = "title"></app-breadcrumb>


    <div class="service-center-section">
        <div class="wrapper">
            <div class="service-grid">
                <div class="service-content">
                    <p>
                        All new MG vehicles need to be serviced at regular
                        intervals. Please refer to your service and warranty
                        booklet located in your vehicle. Every MG dealer is
                        authorised to carry out service and maintenance work in
                        conjunction with the terms of your vehicle's warranty.
                        We guarantee:
                    </p>

                    <h3 class="sub-title">TRAINED MG MECHANICS</h3>
                    <p>
                        Our factory trains our technicians and will service your
                        vehicle to the highest standards in full compliance with
                        the terms of your vehicle's warranty using the latest
                        diagnostics equipment.
                    </p>

                    <h3 class="sub-title">GENUINE MG PARTS</h3>
                    <p>
                        We only ever fit genuine MG parts, which have been
                        designed and tested to our exacting standards.
                    </p>
                </div>

                <div class="map-location">
                    <div class="service-location">
                        <h3 class="sub-title">MG SERVICE CENTER</h3>
                        <div class="service-info">
                            <i class="fa fa-map-marker"></i> <span>Dhumbarahi,
                                Kathmandu</span>
                        </div>

                        <div class="service-info">
                            <i class="fa fa-phone"></i> <span>9801155170</span>
                        </div>
                    </div>
                    <div class="map-lg">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d441.4708895332818!2d85.3438705155899!3d27.72447582965399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb192512d21f47%3A0xabd63245fd5c92bf!2sMG%20Service%20Center!5e0!3m2!1sen!2snp!4v1632905010129!5m2!1sen!2snp"
                            width="100%" height="100%" style="border:0;"
                            allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of service we provide -->