<div class="footer-section" loading="lazy">
    <div class="top-footer">
        <div class="wrapper">
            <div class="top-footer-logo">
                <div class="footer-logo-img">
                    <img src="assets/img/mg-logo.png" alt="MG-Motors logo">
                    <div class="footer-logo-title">
                        <p>passion drives</p>
                        <p class="last-p">since 1924</p>
                    </div>
                </div>
            </div>

            <div class="top-footer-wrapper">
                <nav class="top-footer-nav quick-links">
                    <div class="navigation">
                        <label for="quick links">
                            quick links
                            <i class="fa fa-link"></i>
                        </label>
                        <div class="footer-link d-flex">
                            <ul class="footer-menu">
                                <li class="menu-list">
                                    <a href="" class="menu-links">
                                        home
                                    </a>
                                </li>
                                <li class="menu-list">
                                    <a href="" class="menu-links">
                                        about
                                    </a>
                                </li>
                                <!-- <li class="menu-list">
                                    <a href="" class="menu-links">
                                        products
                                    </a>
                                </li> -->
                            </ul>

                            <ul class="footer-menu">
                                <li class="menu-list">
                                    <a href="" class="menu-links">
                                        faqs
                                    </a>
                                </li>
                                <li class="menu-list">
                                    <a href="" class="menu-links">
                                        contact
                                    </a>
                                </li>
                            </ul>
                            <ul class="footer-menu">
                                <li class="menu-list">
                                    <a href="" class="menu-links">
                                        products
                                    </a>
                                </li>
                                <li class="menu-list">
                                    <a href="" class="menu-links">
                                        dealers
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <nav class="top-footer-nav">
                    <div class="navigation">
                        <label for="opening hours">
                            opening hours
                            <i class="fa fa-clock-o"></i>
                        </label>

                        <ul class="footer-menu">
                            <li class="menu-list">
                                <a href="" class="menu-links">
                                    Sunday-Friday : 09:30 AM – 6:00 PM
                                </a>
                            </li>
                            <li class="menu-list">
                                <a href="" class="menu-links">
                                    Saturday : Closed
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <nav class="top-footer-nav">
                    <div class="navigation">
                        <label for="contact us">
                            contact us
                            <i class="fa fa-phone"></i>
                        </label>

                        <ul class="footer-menu">
                            <li class="menu-list">
                                <a href="" class="menu-links">
                                    {{data.phone_number}}/{{data.alt_phone_number}}
                                </a>
                            </li>
                            <li class="menu-list">
                                <a href="" class="menu-links">
                                    {{data.email}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- footer copyright section -->
    <div class="bottom-footer">
        <div class="wrapper">
            <p class="copyright-text">
                MG Motors @2021
            </p>
            <p class="copyright-text">
                Developed by : Bent Ray Technology
            </p>
        </div>
    </div>
</div>

<div class="scroll_to_top" (click)="toTop()">
    <div class="btn-scroll">
        <i class="fa fa-chevron-up"></i>
    </div>
</div>


