<div class="about-us-section" loading="lazy">
    <app-breadcrumb [title] = "title"></app-breadcrumb>

    <div class="wrapper">
        <div class="about-us-content">
            <h2 class="page-title">MG IS HERE</h2>
            <p>
                The British legend, MG Motors, with more than 90 years of history in European and global market is now here in Nepal.

                It would be unfair not to mention its popularity among British Aristocrats and celebrities world wide, and has been considered to be one of the well-engineered as well as well crafted automobile with such a long history in the sector.

                It has 5 state-of-art production and assembly units across the world, from Luxemberg to Thailand, making its upcoming unit in India with 400 crores of investement its 6th and most anticipated one, especially in South Asian market.liv
                The new range of MG models, that have been designed and engineered at our site in Longbridge, Birmingham, include the MG GS and MG ZS.

                In 2017, MG launched the MG ZS, the brand new compact-SUV which marks an exciting new era of the iconic company. The MG ZS comes with an industry leading fully-manufacturer backed, transferable 2 year/60,000-kilometers warranty.

                With strong financial backing, Futocasi and a bright future, MG is ready to write the most exciting chapter in what is already a very colourful story.
            </p>

            <h3 class="sub-title">BRITISH DESIGN AND ENGINEERING</h3>
            <p>
                MG’s site in Birmingham is home to the European Engineering Technical Centre and Design Studio, as well as a manufacturing facility and the Headquarters of MG Motor UK. It is at the Headquarters that the UK Sales and Marketing team have re-launched the MG brand here in its home market.
            </p>

            <h3 class="sub-title">EUROPEAN ENGINEERING TECHNICAL CENTRE</h3>
            <p>
                Our team of 300 engineers based in the European Engineering Technical Centre is responsible for developing the initial concepts for all new MG vehicles. The department also ensures that each model meets the latest in European legislation and customer requirements. This includes everything from crash testing to refinement, as well as making sure the drive and handling is second to none. ??Under the leadership of David Lindley, the engineers here work on all MG products for Europe, and support product development in China and other world markets. In addition, the UK Technical Centre houses cutting-edge engine testing equipment to help develop our cars. In fact, the team is currently heavily involved in the global development of a new power train initiative, with a focus on creating new green technologies.
            </p>

            <h3 class="sub-title">DESIGN CENTRE</h3>
            <p>
                Led by British designer Tony Williams-Kenny, the UK team is responsible for the interior and exterior design of all MG products across the globe. The dedicated 25-strong team works in a new state-of-the-art facility which opened in Birmingham in June 2010. It takes designs from 2D rendering, through virtual reality into full size 3D clay models.s
            </p>
        </div>
    </div>
</div>